img.center {
  display: block;
  margin: 0 auto;
}

.spinner {
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron {
  text-align: center;
}

app-movie-catalog-element {
  margin-bottom: 20px;
}

app-movie-catalog-filter {
  margin-bottom: 20px;
}

.loadingIcon {
  margin-top: 10px;
}
