<div class="container">

  <app-movie-catalog-filter [filteringParams]="filteringParams" [pageableParams]="pageableParams" (applyFilterEvent)="loadMovies(0)" ></app-movie-catalog-filter>

  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon1">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>
    <input type="text" class="form-control" placeholder="Szukaj..." aria-describedby="sizing-addon1"
           [ngModel]="searchValue"
           (ngModelChange)='changed($event)'>
  </div>


  <img class="center spinner" src="/assets/spin.gif" *ngIf="loading">

  <div class="loadingIcon" *ngIf="!loading && movies">

    <app-movie-catalog-element *ngFor="let movie of movies" [movie]="movie"></app-movie-catalog-element>

    <app-pagination
      (goPage)="changePage($event)"
      [currentPage]="currentPage"
      [totalPages]="totalPages">
    </app-pagination>

  </div>
  <div *ngIf="!loading && !movies.length" class="jumbotron">
    <h3>Brak filmów spełniających kryteria!</h3>
  </div>

  <br/>
</div>
