.form-control, .btn-block, .help-block {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0;
}

.help-block {
    color: #990033;
}

.btn {
    background-color: #990033;
    color: #fff;
    cursor: pointer;
}

.btn:focus {
    box-shadow: 0 0 0 2px #990033;
}

.btn:hover {
    color: #ddd;
}
