<div class="container">
    <h4>Wyszukiwanie klasyczne</h4>
    <div></div>
    <div class="col-md-12 col-lg-12 form-group">
        <label>Gatunek:</label> <!--<span class="glyphicon glyphicon-menu-down"></span>-->
        <div *ngFor="let genre of genres">
            <label class="col-md-2">
                <input type="checkbox"
                       name="genres"
                       [(ngModel)]="genre.checked"/>
                {{genre.name}}
            </label>
        </div>
    </div>
    <p></p>
    <div class="col-md-12 col-lg-12 form-group">
        <label>Rok produkcji:</label>
        <div>
            <div class="col-md-2 col-lg-2">
                <label>Od: </label>
                <select [(ngModel)]="selectedYear">
                    <option *ngFor="let year of years" [ngValue]="year">{{year}}</option>
                </select>
            </div>
            <div class="col-md-2 col-lg-2">
                <label>Do: </label>
                <select [(ngModel)]="selectedYearEnd">
                    <option *ngFor="let yearEnd of yearsEnd" [ngValue]="yearEnd">{{yearEnd}}</option>
                </select>
            </div>
        </div>
    </div>
    <p></p>
    <div class="col-md-12 col-lg-12 form-group">
        <label>Ocena:</label>
        <div>
            <fieldset class="rate">
                <input type="radio" id="rating10" name="rating" value="10" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating10" title="10"></label>
                <input type="radio" id="rating9" name="rating" value="9" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating9" title="9"></label>
                <input type="radio" id="rating8" name="rating" value="8" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating8" title="8"></label>
                <input type="radio" id="rating7" name="rating" value="7" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating7" title="7"></label>
                <input type="radio" id="rating6" name="rating" value="6" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating6" title="6"></label>
                <input type="radio" id="rating5" name="rating" value="5" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating5" title="5"></label>
                <input type="radio" id="rating4" name="rating" value="4" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating4" title="4"></label>
                <input type="radio" id="rating3" name="rating" value="3" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating3" title="3"></label>
                <input type="radio" id="rating2" name="rating" value="2" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating2" title="2"></label>
                <input type="radio" id="rating1" name="rating" value="1" [(ngModel)]="value" (ngModelChange)="updateRating($event)" /><label for="rating1" title="1"></label>
            </fieldset>
            <label>{{value}}</label>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-block">Szukaj</button>
    </div>



</div>
