<!--Active filters-->

<div class="activeFilters">
  <div class="chosenFilters" *ngFor="let key of objectKeys(filteringParams)">
    <ng-container *ngIf="filteringParams[key] && key != 'searchedTerm' && key != 'genresIds' && key != 'sortDirection' && key !='columnToSort'">

      <ng-container *ngIf="key != 'hideRated'">
          <span class="tag label label-default">
            <span>{{filteringParams.getLabel(key)}} {{filteringParams[key]}}</span>
            <a (click)="clearFilter(key)"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
          </span>
      </ng-container>

      <ng-container *ngIf="key == 'hideRated' && includeHideRatedFilter ">
          <span class="tag label label-default">
            <span>{{filteringParams.getLabel(key)}}</span>
            <a (click)="clearFilter(key)"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
          </span>
      </ng-container>

    </ng-container>
</div>

    <!-- Selected genres -->
    <div class="chosenFilters" *ngFor="let selectedGenre of selectedGenres; let i = index">
      <span class="tag label label-default">
        <span>{{selectedGenre.name}}</span>
        <a (click)="clearGenre(i)"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
      </span>
    </div>

    <div class="chosenFilters" [style.visibility]="((selectedGenres.length == 0) && ( filteringParams[key] == null)) ? 'hidden' : 'visible'">
        <span class="tag label label-default removeAllFilters">
        <span>Usuń wszystkie filtry</span>
            <a (click)="clearAllFilters()"><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
         </span>
    </div>
</div>

<!--Filters button-->
<button type="button" class="filterButtons btn btn-default" *ngFor="let filter of filters"
        (click)="setSelectedFilter(filter)"
        [ngClass]="{active: selectedFilter===filter}">
  <span class="{{filter.img}}" aria-hidden="true"></span> {{filter.label}}
  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" *ngIf="selectedFilter!=filter"></span>
  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" *ngIf="selectedFilter==filter"></span>
</button>

<!--Genre Filter-->
<button type="button" class="filterButtons btn btn-default" (click)="showOrHideGenreFilter()"
        [ngClass]="{active: showGenreFilter}">
  <span class="glyphicon glyphicon-film" aria-hidden="true"></span> Gatunek
  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true" *ngIf="!showGenreFilter"></span>
  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true" *ngIf="showGenreFilter"></span>
</button>

<!--Hide/show rated movies -->
<button *ngIf="isUserLoggedIn() && includeHideRatedFilter" type="button" class="filterButtons btn btn-default"
        (click)="showOrHideRatedMovies()">
  <span [ngClass]="filteringParams.hideRated ? 'glyphicon glyphicon-eye-open' : 'glyphicon glyphicon-eye-close'"
        aria-hidden="true"></span>
  {{filteringParams.hideRated ? 'Pokaż ocenione' : 'Ukryj ocenione'}}
</button>

<!--Select value to sort-->
<select class="filterButtons btn btn-default" [(ngModel)]="selectedValue" (change)="setSelectedValueToSort($event)" *ngIf="includeColumnToSortSelect">
    <option *ngFor="let v of values; let i = index" [value]="i">{{v.name}}</option>
</select>

<!--Filter form-->
<form (submit)="updateFilters(selectedFilter)" class="filterForm form-inline" *ngIf="selectedFilter">
  <div class="form-group" *ngFor="let field of selectedFilter.fields">
    <label [for]="field.label">{{field.label}}</label>
    <input *ngIf="!field.allowedValues" [(ngModel)]="field.value" [type]="field.type" class="form-control"
           [id]="field.label" [ngModelOptions]="{standalone: true}">
    <select *ngIf="field.allowedValues" [(ngModel)]="field.value" [ngModelOptions]="{standalone: true}"
            class="form-control">
      <option *ngFor="let val of field.allowedValues" [ngValue]="val">{{val}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-default">Aktualizuj</button>
</form>


<!--Genres filter form-->
<div>
    <form (submit)="updateGenresFilter()" *ngIf="showGenreFilter">
        <div class="row">
            <label class="col-md-2 col-sm-4 col-xs-6 checkbox-inline" *ngFor="let genre of genres">
                <input [(ngModel)]="genre.checkboxActive" type="checkbox" [name]="genre.name">
                {{genre.name}}
            </label>
        </div>
        <div class="row col-md-offset-9" style="margin-bottom: 10px">
            <button type="button" (click)="deselect()" class="btn btn-default"><span
                    class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> Usuń zaznaczenie
            </button>
            <button type="submit" class="btn btn-default">Aktualizuj</button>
        </div>
    </form>
</div>
