.container {
  padding: 30px;
}

img {
  width: 100%;
  max-width: 300px!important;
}

.title {
  font-size: 30px;
  color: darkslategray;
}

.year {
  font-size: 30px;
  color: gray;
}

.description {
  font-size: 16px;
}

.rating {
  font-size: 18px;
}

.rate {
  display: inline-block;
  border: 0;
  font-size: 40px;
> {
    input {
      display: none;
    }
    label {
      float: right;
    &:before {
       display: inline-block;
       font-size: 30px;
       margin: 0;
       cursor: default;
       content: "\2605 "; /* full star */
     }
    }
  }
}

.red {
  color: #990033;
}

.label-default {
  background-color: darkgrey;
}

.genre {
  margin-right: 3px;
  font-size: inherit;
}

.label-default {
  background-color: darkgrey;
}


.gray {
  color: #d3d3d3;
}
