<div class="container">
  <div class="form-group">
    <form (ngSubmit) = "f.valid && validate(model.newPassword, model.confirmNewPassword) && changePassword(model.oldPassword, model.newPassword, model.confirmNewPassword)" #f="ngForm" novalidate>
      <h3>Zmiana hasła</h3>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !oldPassword.valid }">
        <input type="password" name="oldPassword" id="oldPassword" class="form-control" placeholder="Aktualne hasło" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" (click)="clearError()" autofocus required>
        <div *ngIf="f.submitted && !oldPassword.valid" class="help-block">Podaj aktualne hasło</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newPassword.valid }">
        <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="Nowe hasło" [(ngModel)]="model.newPassword" #newPassword="ngModel" minlength="6" (click)="clearError()" required>
        <div *ngIf="f.submitted && (!newPassword.valid || !newPassword.pristine)" class="help-block">
          <div [hidden]="!newPassword.hasError('required')">Podaj nowe hasło</div>
          <div [hidden]="!newPassword.hasError('minlength')">Nowe hasło jest za krótkie</div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confirmNewPassword.valid }">
        <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" placeholder="Powtórz nowe hasło" [(ngModel)]="model.confirmNewPassword" #confirmNewPassword="ngModel" (click)="clearError()" required>
        <div *ngIf="f.submitted && (!confirmNewPassword.valid || !confirmNewPassword.pristine)" class="help-block">
          <div [hidden]="validate(model.newPassword, model.confirmNewPassword)">Hasła nie są zgodne</div>
        </div>
      </div>
      <button class="btn btn-block">Zmień hasło</button>
    </form>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
  <div *ngIf="success" class="alert alert-success">Pomyślnie zmieniono hasło!</div>
</div>
