<div class="container">
  <div class="form-group">
  <form (ngSubmit) = "f.valid && login(model.email, model.password)" #f="ngForm" novalidate>
    <h3>Logowanie</h3>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <input type="text" name="email" id="email" class="form-control" placeholder="E-mail" [(ngModel)]="model.email" #email="ngModel" (click)="clearError()" autofocus required>
      <div *ngIf="f.submitted && !email.valid" class="help-block">Podaj e-mail</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <input type="password" name="password" id="password" class="form-control" placeholder="Hasło" [(ngModel)]="model.password" #password="ngModel" (click)="clearError()" required>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Podaj hasło</div>
    </div>
    <button class="btn btn-block">Zaloguj się</button>
  </form>
  </div>
  <div *ngIf="error" class="alert alert-danger">{{error}}</div>
</div>
