<div class="container">
  <form (ngSubmit)="f.valid && getRecommendations(f)" #f="ngForm" novalidate>
    <div class="form-group">
      <h3>Wyszukiwanie kontekstowe</h3>
    </div>
    <div *ngFor="let contextParameter of contextParams" class="form-group" [ngClass]="{ 'has-error': f.submitted }">
      <label>{{contextParameter.readableFieldName}}</label>
      <select class="form-control" name="{{contextParameter.fieldName}}" [ngModel]="checkRememberedSearch(contextParameter.fieldName)">
        <option *ngFor="let allowedValue of contextParameter.allowedValues" [value]=allowedValue.value>
            {{allowedValue.readableValue}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <input type="checkbox" name="hideRated" [ngModel]="wasHideRatedChecked()"/> Ukryj już ocenione filmy
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-block">Pobierz rekomendacje</button>
    </div>
  </form>
  <app-movie-catalog-filter [filteringParams]="filteringParams" [includeHideRatedFilter]="false" (applyFilterEvent)="getRecommendations(f)"></app-movie-catalog-filter>
  <div *ngIf="recommendedMovies">
    <app-movie-catalog-element *ngFor="let movie of recommendedMovies" [movie]="movie"></app-movie-catalog-element>
  </div>
</div>
