$white: #fff;
$primary-color: #990033;
$hover-color: #ddd;

.form-control, .btn-block {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0;
}

.help-block {
@extend .btn-block;
    color: $primary-color;
}

.btn {
    background-color: $primary-color;
    color: $white;
    cursor: pointer;
    &:focus {
         box-shadow: 0 0 0 2px $primary-color;
     }
    &:hover {
         color: $hover-color;
     }
}