<div class="media" style="margin-bottom: 10px">
  <div style="background-color: #e7e7e7;  border-radius: 0 0 25px 0;">
    <div class="media-left media-top">
      <a routerLink="/{{this.router.url}}/{{movie.id}}">
        <img style="width: 150px"
             [src]='sanitizer.bypassSecurityTrustResourceUrl("data:image/jpeg;base64," + movie.poster)'>
      </a>
    </div>
    <div class="media-body">
      <h4 style="margin-top: 12px; margin-right: 10px;" class="media-heading">
        <a routerLink="/{{this.router.url}}/{{movie.id}}" style="color: #333;">{{movie.polishTitle}}</a>
        <div class="display-ratings pull-right">
          <span class="label label-default" title="ocena Filmweb">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> {{movie.filmwebRating}}
          </span>
          <span *ngIf="movie.customRating" class="label label-info" title="ocena Movieme">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> {{movie.customRating}}
          </span>
          <span *ngIf="movie.rated === true" class="label label-info" title="oceniony przez Ciebie">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </span>
        </div>
      </h4>

      <div><span class="label label-default genre" *ngFor="let genre of movie.genres">{{genre.name.charAt(0).toUpperCase() + genre.name.slice(1)}}</span></div>
      <br/>
      <div *ngIf="movie.originalTitle" style="color: #333;"><b>Oryginalny tytuł:</b> {{movie.originalTitle}}</div>
      <div style="color: #333;"><b>Rok produkcji:</b> {{movie.year}}</div>
      <div style="color: #333;"><b>Długość:</b> {{movie.length}}</div>
      <br/>
      {{movie.description}}
    </div>
  </div>
</div>
