<div class="media" style="margin-bottom: 10px">
  <div style="background-color: #e7e7e7;  border-radius: 0 0 25px 0;">
    <div class="media-left media-top">
      <a href="#">
        <img style="width: 150px"
             [src]='sanitizer.bypassSecurityTrustResourceUrl("data:image/jpeg;base64," + movie.poster)'>
      </a>
    </div>
    <div class="media-body">
      <h4 style="margin-top: 12px; margin-right: 10px;" class="media-heading">
        <a routerLink="/{{this.router.url}}/{{movie.id}}">{{movie.polishTitle}}</a>
        <span class="label label-default pull-right">
            <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> {{movie.filmwebRating}}
          </span>
      </h4>
      <div><span class="label label-default genre" *ngFor="let genre of movie.genres">{{genre.name.charAt(0).toUpperCase() + genre.name.slice(1)}}</span></div>
      <br/>
      <div *ngIf="movie.originalTitle"><b>Oryginalny tytuł:</b> {{movie.originalTitle}}</div>
      <div><b>Rok produkcji:</b> {{movie.year}}</div>
      <div><b>Długość:</b> {{movie.length}}</div>
      <br/>
      {{movie.description}}

    </div>
  </div>
</div>
